* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 86px;
    border-bottom: 1px solid #DEE2E7;
}

.header-left {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.brand__logo {
    display: flex;
    align-items: center;
    width: 150px;
    height: 46px;

}

.brand__logo .logo {
    display: flex;
    align-items: center;
}


.brand__logo-symbol {
    width: 44px;
    height: 44px;
    opacity: 80%;
    margin-right: 2px;
}

.brand__logo-img {
    width: 77px;
    height: 21.1px;
}

.mobile-view__menu .menubar {
    display: none;
    /* margin-right: 10px; */
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 665px;
    height: 40px;
    border: 3px solid #0D6EFD;
    border-radius: 6px;
}

.input-group {
    display: flex;
    align-items: center;
    flex: 1;
}

.input-group__input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 0 5px;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
}

.input-group__input::placeholder {

    color: #8B96A5;
}

.input-group-category {
    border-left: 1px solid #0D6EFD;
    display: flex;
    align-items: center;
    max-width: 200px;
    width: 100%;
    height: 39px;
    padding: 5px;
}

/* new  */
.dropdown__menu-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.category-heading {
    font-size: 1rem;
    font-weight: 100;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: 1px solid #DEE2E7;
    position: absolute;
    top: 70px;
    max-width: 160px;
    width: 100%;
    padding: 5px;
}

.dropdown-menu__mobile-view {
    display: none;


}

.dropdown-menu__mobile-view.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: 1px solid #DEE2E7;
    position: absolute;
    top: 70px;
    max-width: 160px;
    width: 100%;
    padding: 5px;
    z-index: 1;

}

.dropdown-menu.show {
    display: flex;
}

.dropdown-menu__mobile-view.show {
    display: flex;
}

.mens-category-list,
.womens-category-list,
.mens-category-list__mobile-view,
.womens-category-list__mobile-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    list-style: none;
    padding: 5px;
    color: black;
}


.womens-category-list:hover {
    display: flex;
    background-color: #d3e3fd;
    border-radius: 6px;
}

.womens-category-list__mobile-view:hover {
    display: flex;
    background-color: #d3e3fd;
    border-radius: 6px;
}

.mens-category-list:hover {
    display: flex;
    background-color: #d3e3fd;
    border-radius: 6px;
}

.mens-category-list__mobile-view:hover {
    display: flex;
    background-color: #d3e3fd;
    border-radius: 6px;
}

.category-list,
.category-list__mobile-view {
    display: flex;
    align-items: center;
    list-style: none;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    color: black;

}

.category-list:hover {
    background-color: #d3e3fd;
    border-radius: 6px;
}

.category-list__mobile-view:hover {
    background-color: #d3e3fd;
    border-radius: 6px;
}

.mens-extend-menu,
.mens-extend-menu__mobile-view {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid #DEE2E7;
    left: 176px;
    top: 4px;
    max-width: 160px;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

.mens-extend-menu.show {
    display: flex;
}

.mens-extend-menu__mobile-view.show {
    display: flex;
}

.womens-extend-menu,
.womens-extend-menu__mobile-view {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid #DEE2E7;
    left: 176px;
    top: 47px;
    max-width: 160px;
    width: 100%;
    padding: 5px;
}

.womens-extend-menu.show {
    display: flex;
}

.womens-extend-menu__mobile-view.show {
    display: flex;
}




/* new  */

.input-group__select {
    width: 100%;
    height: 100%;
    border: 3px solid #0D6EFD;
    border-left: 1px solid #0D6EFD;
    cursor: pointer;
    outline: none;

}

.search-form__btn {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 0 6px 6px 0;
    outline: none;
    color: white;
    background-color: #0D6EFD;
}

.action {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 228px;
    height: 41px;

}

.action a {
    display: flex;
    align-items: center;
}

.action img {
    width: 37px;
    height: 41px;
    cursor: pointer;
}

.action__mobile-menu {
    display: none;
}


.header__menubar-menu {
    display: none;
}

/*  */



.dropdown-category {
    position: relative;
    border: 1px solid black;
    background-color: white;
    top: 10px;
    max-width: 300px;
    width: 100%;
}


@media only screen and (max-width:635px) {
    .search-form {
        display: none;
        max-width: 430px;
        width: 100%;
    }

    .input-group-category {
        max-width: 150px;
    }

    .action {
        display: none;
    }

    .action__mobile-menu {
        display: flex;
    }

    
}

@media only screen and (min-width: 635px) and (max-width: 768px) {
    .mobile-view__menu .menubar {
        display: none !important;
    }
}

@media only screen and (min-width: 635px) and (max-width: 1047px) {
    .action {
        display: none;
    }

    .action__mobile-menu {
        display: flex;
    }

    .search-form {
        display: flex;
        max-width: 430px;
        width: 100%;
    }

    .input-group-category {
        max-width: 150px;
    }

    .mobile-view__menu{
        display: none;
    }

}

@media only screen and (max-width: 768px) {
    header {
        padding: 5px;
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        min-width: 180px;
        border: none;
    }

    .header__menubar-menu {
        display: none;
        width: 100%;
        max-width: 767px;

    }

    .header__menubarlist {
        background-color: #f7fafc;
        padding: 7px;
    }

    .header__menubarlist:hover {
        background-color: #d0e3fd;
        border-radius: 6px;
    }

    .menubar__list {
        text-decoration: none;
        color: black;
    }


    .mobile-view__menu .menubar {
        display: block;
        margin-right: 5px;
    }


    .brand__logo .brand__logo-symbol {
        width: 34px;
        height: 34px;
    }

    .brand__logo .brand__logo-img {
        width: 59.55px;
        height: 16.51px;
    }

    .brand__logo .vector {
        display: flex;
        margin-right: 8px;
        height: 24px;
        width: 24px;
    }

}